{{template "layout" .}}
<body>
    <div class="container" style="color: white;">
        <h1>{{.Page}}</h1>
        <p>
            Jurnal Makassar - Simak berikut ini Link Download Minecraft Versi 1.18 dan Pocket Edition Versi 1.19 The Wild Update Desember 2021.

Saat ini Link Download Minecraft Versi 1.18 dan Pocket Edition Versi 1.19 The Wild Update Desember 2021 sedang ramai dicari.

Link Download Minecraft Versi 1.18 dan Pocket Edition Versi 1.19 The Wild Update Desember 2021.
        </p>
        <script>
            $(document).ready(function(){
              $("p").click(function(){
                $(this).hide();
              });
            });
            </script>
    </div>
</body>
</html>